@import "../../styles/index.scss";

.filicudi {
  font-family: filicudi-solid, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.american {
  font-family: itc-american-typewriter, serif;
  font-style: normal;
  font-weight: 300;
}
